<div class="row my-4">
    <div class="col-4 text-center">
        <h3 class="text-center">{{item.name}}</h3>
        <img [src]="item.img_path" class="img "/>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <span class="text-center fw-bold">Descriptions :</span>
                <span class="text-center"> {{item.descriptions}}</span>
            </div>
            <div class="col-12">
                <span class="text-center fw-bold">Abilities :</span>
                <span class="text-center"> {{item.abilities}}</span>
            </div>
            <div class="col-12">
                <span class="text-center fw-bold">Height :</span>
                <span class="text-center"> {{item.height}}</span>
            </div>
            <div class="col-12">
                <span class="text-center fw-bold">Weight :</span>
                <span class="text-center"> {{item.weight}}</span>
            </div>
            <div class="col-12">
                <span class="text-center fw-bold">Types :</span>
                <span class="text-center"> {{item.types}}</span>
            </div>
            <div class="col-12">
                <span class="text-center fw-bold">Stats :</span>
                <span class="text-center"> {{item.stats}}</span>
            </div>
            <div class="col-12">
                <span class="text-center fw-bold"> Moves:</span>
                <span class="text-center"> {{item.moves}}</span>
            </div>
        </div>
    </div>
</div>